<?xml version="1.0" encoding="UTF-8"?>

<Context>
   <Resource name="jdbc/SampleDB" auth="Container"
       type="javax.sql.DataSource" 
       username="app" password="app"
       driverClassName="org.apache.derby.jdbc.ClientDriver"
       url="jdbc:derby://localhost:1527/MyDB" 
       maxActive="8"    /> 
</Context> 